@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background-color: #0E0E0E;
  scroll-behavior: smooth;
}

main{
  background-color: #0E0E0E;
  overflow-x: scroll;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}


.colText{
  columns: 25vw;
  column-flow: auto;
}

@media (max-width: 640px) {
  .vText{
    writing-mode: vertical-rl;
  }

  .colText{
    columns: 100vw;
    column-flow: unset;
  }

  main{
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

body{
  background-color: #0E0E0E;
  color: #fff;
  overflow: hidden;
}

.container_center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.transition_theme{
  transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}

/* Add this CSS to your stylesheets */
.skeleton {
  background: linear-gradient(-45deg, #222 25%, #333 50%, #222 75%);
  background-size: 200% 100%;
  animation: skeletonAnimation 2s linear infinite;
  animation-delay: 2s;
}

@keyframes skeletonAnimation {
  to {
    background-position: -200% 0;
  }
}



/* width */
main::-webkit-scrollbar {
  width: 24px;
  height: 24px;
  background-color: #000;
}

/* Track */
main::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #171717;
  border: 8px solid #000;
}

/* Handle */
main::-webkit-scrollbar-thumb {
  background: #525252;
  transition: all 300ms ease;
  border-radius: 100vh;
  background-clip: content-box;
  border: 8px solid transparent;

}

/* Handle on hover */
main::-webkit-scrollbar-thumb:hover {
  background: #424242;
  transition: all 500ms ease;
  border-radius: 100vh;
  background-clip: content-box;
  border: 8px solid transparent;
}


/* width */
.custom_scroller::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
.custom_scroller::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #171717;
  box-shadow: -2px 0 10px 0 #000;
}

/* Handle */
.custom_scroller::-webkit-scrollbar-thumb {
  background: #ffffff10;
  transition: all 300ms ease;
  border-radius: 100vh;
  box-shadow: -0px 0 2px 0 #000;
}

/* Handle on hover */
.custom_scroller::-webkit-scrollbar-thumb:hover {
  background: #00000060;
}




/* width */
.no_scroller::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  display: none;
}